// Main Colors ----------------- /

$primary-color: #58e1c1;
$primary-color-lighten: lighten($primary-color, 15%);

$secondary-color: #51ddfc;
$secondary-color-lighten: lighten($secondary-color, 15%);

$tertiary-color: #777;

// Other Colors // Button Colors ----------------- /

$white: #fff;

$error-color: #e4757a;
$error-color-lighten: lighten($error-color, 15%);

$info-color: #927bc1;
$info-color-lighten: lighten($info-color, 15%);

$success-color: #63cc82;
$success-color-lighten: lighten($success-color, 15%);

$warning-color: #fd7856;
$warning-color-lighten: lighten($warning-color, 15%);

// Font Size ----------------- /

$primary-font-size: 300;
$secondary-font-size: 700;

// Media Queries ---------------- /

$mid-breakpoint: '(min-width: 768px)';